#about {
    width: 100vw;
  }


  
.about-top h1{
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 15%;
    
}


.about-top{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
  }

.undeline {
  margin-top: 5px;
  content: "";
  display: block;
  width: 7%;
  height: 5px;
  margin-left: 15%;
  background-color: var(--primary-color)
}


.undeline::after{
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  margin-top: 10px;
  background-color: var(--primary-color);
  transition: 0.4s;
}

  
.about-top h4{
  padding-top: 10px;
  margin: 5% 15% 0 15%;
  text-align: center;   
}

p {
  padding-top: 10px;
  margin: 0 15% 0 15%;
  font-size: 14px;
}

#about-myskills h3{
  margin: 2%;
  margin-top: 5%;
  
  text-align: center;
}
.images-logo{
  display: flex;
  flex-wrap: wrap;
   margin: 5% 30% 10% 30%;

  /* margin: 0 30% 0 30%; */
  justify-content: space-around;
 
}
.images-logo img{
  padding: 2px;
  width: 13%;
  height: 13%;
 
}




/* 
.about-top{
    display: flex;

  }

.undeline {
  content: "";
  display: block;
  width: 7%;
  height: 5px;
  margin-left: 15%;
  background-color: var(--primary-color)
}


.undeline::after,
.undeline::before {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  background-color: var(--primary-color);
  margin: 5px 0px;
  transition: 0.4s;
} */