
footer{
    text-align: center;
    padding: 15px;
    background-color: #333;
    
   
}


footer span{
    color: var(--primary-color);
    font-weight: bold;
}

.footer-nav a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px;
}